/* General */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5
}

html, body {
  color: #555;
  margin: 0;
  padding: 0
}

html {
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-size: 14px;
  overflow-y: scroll
}

@media (min-width: 600px) {
  html {
    font-size: 16px
  }
}

body {
  -webkit-text-size-adjust: 100%
}

main, footer, .nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%
}

footer {
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
  padding: 2rem 0;
  text-align: center
}

footer span {
  color: #555;
  font-size: .8rem
}

h1, h2, h3, h4, h5, h6 {
  color: #353535;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: normal
}

a {
  color: #4a9ae1;
  text-decoration: none
}

/* Navigation */

.nav {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  overflow: auto
}

.nav-container {
  margin: 1rem auto;
  position: relative;
  text-align: center
}

.nav-title {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #555;
  display: inline-block;
  margin: 0;
  padding-right: .2rem
}

.nav-title:hover, .nav-title:focus {
  opacity: .6
}

.nav ul {
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0;
  text-align: center
}

.nav li {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #555;
  display: inline-block;
  opacity: .6;
  width: 4.3em;
}

.nav li:last-child {
  padding-right: 0
}

.nav li:hover, .nav li:focus {
  opacity: 1
}

.nav a {
  color: #555;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif
}

@media (min-width: 600px) {
  .nav-container {
    text-align: left
  }
  .nav ul {
    bottom: 0;
    position: absolute;
    right: 0
  }
}

/* Catalogue */

.catalogue-item {
  border-bottom: 1px solid #e5e5e5;
  color: #555;
  display: block;
  padding: 2rem 0;
}

.catalogue-time {
  color: #aaa;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
  letter-spacing: .5px;
}

.catalogue-item a {
  text-decoration: none;
}

.catalogue-title {
  color: #353535;
  display: block;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: .5rem 0;
}

.catalogue-title::after {
  content: '';
  display: block;
  width: 4rem;
  height: 3px;
  margin-top: 8px;
  transition: all 0.3s ease-out;
  background-color: #353535;
}

.catalogue-title:hover::after, .catalogue-title:focus::after {
  width: 6rem;
}

/* Navigation */

.pagination {
  border-top: 0.5px solid #e5e5e5;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
  padding-top: 2rem;
  position: relative;
  text-align: center;
}

.pagination .top {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #555;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  opacity: .6;
}

.pagination .arrow {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #555;
  position: absolute;
}

.pagination .left {
  left: 0;
}

.pagination .right {
  right: 0;
}
