<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{site.title}}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="/tale/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/tale/assets/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/tale/assets/apple-touch-icon.png">
</head>

<body>
  <nav class="nav">
    <div class="nav-container">
      <a href="https://github.com/aagamezl" target="_blank">
        <h2 class="nav-title">aagamezl</h2>
      </a>
      <ul>
        {{#navigation}}
        <li>
          <a href="{{permalink}}">{{title}}</a>
        </li>
        {{/navigation}}
      </ul>
    </div>
  </nav>

  <main>
    <div class="catalogue">
      {{#each site.posts}}
      <div class="catalogue-item">
        <time datetime="{{date}}" class="catalogue-time">{{formatDate date}}</time>
        <a href="{{permalink}}">
          <h1 class="catalogue-title">{{title}}</h1>
        </a>

        <p>{{{overview}}}</p>
      </div>
      {{/each}}
    </div>
  </main>

  <footer>
    <span>
      <time datetime="2020-09-16 05:49:07 +0000">2020</time>
      <span>© {{site.author}}. Made with Love and Passion</span>
      <a href="https://github.com/aagamezl" target="_blank">aagamezl</a>.
    </span>
  </footer>
</body>

</html>
