<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <main>
    <div class="post-list">
      <div class="post-item" data-for="post of posts">
        <time datetime="{date}" class="post-time">{date}</time>
        <a href="{path}">
          <h1 class="post-title">{title}</h1>
        </a>
        <p class="post-overview">{overview}</p>
      </div>
    </div>
  </main>
</body>

</html>
